@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9upbtl');
  src:  url('../fonts/icomoon.eot?9upbtl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9upbtl') format('truetype'),
    url('../fonts/icomoon.woff?9upbtl') format('woff'),
    url('../fonts/icomoon.svg?9upbtl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .ui-icon{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before,
.ui-icon-circle-triangle-w:before {
  content: "\e900";
}
.icon-right:before,
.ui-icon-circle-triangle-e:before {
  content: "\e901";
}
.icon-percent:before {
  content: "\e902";
}
.icon-ads:before {
  content: "\e903";
}
.icon-donation:before {
  content: "\e904";
}
.icon-IC:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e906";
}
.icon-email:before {
  content: "\e906";
}
.icon-contact:before {
  content: "\e906";
}
.icon-circle-o:before {
  content: "\e907";
}
.icon-code:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-facebook-f:before {
  content: "\e90a";
}

