/*-----------------------------------------------------------------------------------*/
/*  Reset CSS
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

*  {  
  margin:0px; 
  padding:0px;
  border: 0px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

a {
	background: #313131;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	color:#fff;
}

h1, h2, h3, h4, h5, h6{
	font-weight:400;
}

:focus {
	outline: 0;
}

ul, ol { 
	list-style: none;
}

.clearfix:after {
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
	font-size:0;
	height:0;
}

html{
    min-height: 100%;
    position: relative;
}

body {
	background: #313131;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	color:#fff;
}

img{
	max-width:100%;
	display:block;
	margin:0 auto;
	flex: 0 0 auto;
}

.container {
	width: 100%;
	max-width:70px;
	margin: 0 auto;
	position:relative;
}

.main.register a,
.main.registerin input,
.main.survey input,
.main.survey textarea,
.main.about ul.months li a,
.ui-datepicker-calendar .ui-state-hover,
.ui-datepicker-calendar .ui-state-active,
header a.home,
.ui-datepicker-prev span, .ui-datepicker-next span,
.main.carousel .description .block,
.main.donation .column h3,
.main.calendar .information,
.opinion input,
.opinion a.close,
.main.activity ul li a,
.main.calendar .information li.social ul li a,
.main.registerin .check input[type="checkbox"],
.main.registerin .check label,
.select2-selection--single,
.select2-selection__rendered{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

h1,h2,h3,h4,input,select{
	font-family: 'Oxygen', sans-serif;
	color:#ffffff;
}

h1{
	font-size:4.5rem;
	font-weight: 300;
	letter-spacing: 0.0625rem;
	text-align:center;
	text-transform:uppercase;
}

h2{
	font-size:1.875rem;
	text-align:left;

}

h3{
	font-size:1.5rem
}

::-webkit-input-placeholder {
   color:rgba(255,255,255,0.3)!important;
   opacity:1!important;
}

:-moz-placeholder {
    color:rgba(255,255,255,0.3)!important;
    opacity:1!important;
}

::-moz-placeholder {
    color:rgba(255,255,255,0.3)!important;
    opacity:1!important;
}

:-ms-input-placeholder {
	color:rgba(255,255,255,0.3)!important;  
	opacity:1!important;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"]{
  -webkit-appearance: none;
  border-radius: 0;
}

/*-----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/
header {
    height:4.375rem;
    line-height: 4.375rem;
    z-index: 999;
}

header .container{
	width:100%;
	max-width:100%;
}

header .nav-inner{
	padding:0 2.5%;
}

header a.home{
	width:1.375em;
	font-size:1.3125em;
	float:left;
	color:#ffffff;
	text-align: center;
}

header a.home:hover{
	color:rgba(255,255,255,0.7);
}

header nav{
	float:right;
}

header nav ul{
	display: inline-block;
}

header nav li{
	display:inline-block;
}

header nav li a{
	color:#fff;
	font-size: 0.9375rem;
	padding:0 0.3125rem;
	text-transform:uppercase;
	cursor:pointer;
	display:inline-block;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    position:relative;
    top:-0.125rem;
}

header nav li a:hover,
header nav li a.active{
	color:rgba(255,255,255,0.7);
}

header nav li a.separator{
	width:2px;
	height:1.5rem;
	background:rgba(255,255,255,0.5);
	padding: 0;
	position:relative;
	top:1.3125rem;
	margin:0 0.8125rem 0 0.4375rem;
	text-indent: -9999px;
}

header nav ul li:nth-child(1n) a{
	transition-delay: 350ms;
}

header nav ul li:nth-child(2n) a{
	transition-delay: 300ms;
}

header nav ul li:nth-child(3n) a{
	transition-delay: 250ms;
}

header nav ul li:nth-child(4n) a{
	transition-delay: 200ms;
}

header nav ul li:nth-child(5n) a{
	transition-delay: 150ms;
}

header nav ul li:nth-child(6n) a{
	transition-delay: 100ms;
}

header nav ul li:nth-child(7n) a{
	transition-delay: 50ms;
}

body.open header nav ul li:nth-child(1n) a:hover,
body.open header nav ul li:nth-child(2n) a:hover,
body.open header nav ul li:nth-child(3n) a:hover,
body.open header nav ul li:nth-child(4n) a:hover,
body.open header nav ul li:nth-child(5n) a:hover,
body.open header nav ul li:nth-child(6n) a:hover,
body.open header nav ul li:nth-child(7n) a:hover{
	transition: all .5s ease;
	transition-delay: 0s!important;
}

body.open header nav ul li a{
	opacity:1;
	visibility: visible;
}

header .open-menu{
  	width: 26px;
  	height: 20px;
  	position: relative;
  	transform: rotate(0deg);
  	transition: .5s ease-in-out;
  	cursor: pointer;
  	float:right;
  	margin-top:1.5rem;
}

header .open-menu span{
	display: block;
  	position: absolute;
  	height: 4px;
  	width: 100%;
  	background: #fff;
  	border-radius: 3px;
  	opacity: 1;
  	left: 0;
  	transform: rotate(0deg);
  	transition: .25s ease-in-out;
}

header .open-menu span:nth-child(1){
  	top: 0px;
  	transform-origin: left center;
}

header .open-menu span:nth-child(2){
  	top: 8px;
  	transform-origin: left center;
}

header .open-menu span:nth-child(3){
  	top: 16px;
  	transform-origin: left center;
}

body.open header .open-menu span:nth-child(1){
  	transform: rotate(45deg);
  	top: -1px;
  	left: 4px;
}

body.open header .open-menu span:nth-child(2){
  	width: 0%;
  	opacity: 0;
}

body.open header .open-menu span:nth-child(3){
  	transform: rotate(-45deg);
  	top: 17px;
  	left: 4px;
}

header nav.mobile ul{
	display:none;
}

header nav.mobile ul li{
	display:block;
}

header nav.mobile ul li a{
	width: 100%;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    opacity: 1;
    visibility: visible;
    padding-left:0.52rem;
    transition-delay: 0ms;
    transition: all .5s ease;
}

header nav.mobile ul li a:hover{
    padding-left:1.5rem;
}

header nav.mobile ul li a.separator{
	display:none;
}


/*-----------------------------------------------------------------------------------*/
/*  Main section
/*-----------------------------------------------------------------------------------*/
#main{
	height: 100vh;
	display: flex;
    flex-direction: column;
}
.main{
	flex: 1;
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	text-align:center;
}

.main::before, .main::after {
  content: '';
  margin: auto;
}

/*-----------------------------------------------------------------------------------*/
/*  Main index section
/*-----------------------------------------------------------------------------------*/
.main.index{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow:hidden;
	z-index:-100;
}

.main.index img{
	max-width:300px;
}

.main.index .video{
	position:absolute;
	top:50%;
	left:50%;
	width:auto;
	height:auto;
	min-width:100%;
	min-height:100%;
	transform:translate(-50%, -50%);
}

.main.index .overlay{
	display:flex;
	position:absolute;
	z-index:4;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
}

/*-----------------------------------------------------------------------------------*/
/*  Carousel section
/*-----------------------------------------------------------------------------------*/
.main.carousel{
	overflow-y:hidden;
}

.main.carousel .container{
	width:100%;
	max-width:100%;
}

.main.carousel .column{
	position:relative;
}

.main.carousel .column img{
	transform:scale(0.85);
	transition:transform 500ms ease;
}

.main.carousel .slick-center img{
	transform:scale(1);
}

.main.carousel .description{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    z-index:999;
}

.main.carousel .description p{
	font-size:0.75rem;
	font-weight: 700;
	text-transform:uppercase;
	padding-top:2rem;
	color: #ffffff;
}

.main.carousel .description .block{
	padding:1rem;
	background:rgba(0,0,0,0.3);
}

.main.carousel .description .block:hover{
	background:rgba(0,0,0,0.5);
}

/*-----------------------------------------------------------------------------------*/
/*  Friends section
/*-----------------------------------------------------------------------------------*/
.main.friends h2{
	padding-bottom:8.1925rem;
}

.main.friends .container{
	font-size:0;
}

.main.friends .wrapper{
	display:flex;
	flex-direction: row;
}

.main.friends .column{
	width:33.33333%;
	border-right:2px solid rgba(255,255,255,0.5);
	padding:2.1875rem 0.625rem;
	display:flex;
	align-self:stretch;
	align-items:center;
}

.main.friends .column:last-child{
	border-right:0;
}

/*-----------------------------------------------------------------------------------*/
/*  Calendar section
/*-----------------------------------------------------------------------------------*/
.main.calendar .wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.main.calendar .information{
	width:50%;
	text-align:left;
	padding:0 6.25rem;
}

.main.calendar .information h1{
	color:#d5d5d5;
	text-align:left;
	text-transform: lowercase;
	padding-bottom:1.875rem;
}

.main.calendar .information li{
	font-size:0.875rem;
	color:#d5d5d5;
}

.main.calendar .information li span{
	font-weight: 700;
}  

.main.calendar .information li.description{
	padding-top:0.9375rem;
}

.main.calendar .information li.description span{
	display: block;
} 

.main.calendar .information .social{
	display:flex;
	align-items: center;
}

.main.calendar .information li.social{
	padding:0.9375rem 0;
} 

.main.calendar .information li.social ul li{
	padding:0 0.34375rem;
}

.main.calendar .information li.social ul li a{
	width:2.25rem;
	height:2.25rem;
	border-radius:50%;
	background:#d5d5d5;
	display:flex;
	align-items: center;
	justify-content: center;
}

.main.calendar .information li.social ul li a:hover{
	background:#fff;
}

.main.calendar .information li.social ul li a span{
	font-size:1.25rem;
	color:#313131;
}


/*-----------------------------------------------------------------------------------*/
/*  Donation section
/*-----------------------------------------------------------------------------------*/
.main.donation .wrapper{
	display:flex;
	flex-direction: row;
}

.main.donation .column{
	width:33.3333%;
	display:flex;
    align-items: center;
    flex-direction: column;
}

.main.donation .column h3{
	color:#d5d5d5;
	padding-top:1.875rem;
}

.main.donation .column .circle{
	width:7.5625rem;
	height:7.5625rem;
	border-radius:50%;
	background: #313131;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.main.donation .column .circle span{
	font-size:4em;
	color:#313131;
	z-index: 1;
}

 .main.donation .column .circle {
    box-shadow: 0 0 0 4px #d5d5d3;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    position:relative;
}

 .main.donation .column .circle:after {
 	content: '';
 	position: absolute;
 	left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
 	margin:0 auto;
    border-radius: 50%;
    padding: 1px;
    background: #d5d5d3;
    transition: transform 0.2s, opacity 0.3s;
    box-sizing: content-box;
}

 .main.donation .column:hover .circle:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}

.main.donation .column:hover .circle span,
.main.donation .column:hover h3{
	color:#fff;
}

/*-----------------------------------------------------------------------------------*/
/*  About section
/*-----------------------------------------------------------------------------------*/
.main.about h2{
	font-size:3rem;
	color:#d5d5d5;
}

.main.about img{
	max-width:72.1rem;
}

.main.about ul.months li{
	display:flex;
	justify-content: space-between;
	flex-direction row;
	align-items: center;
	text-align: left;
	padding:1.875rem 2rem 0 2rem;
}

.main.about ul.months li span{
	width: 25%;
	text-align: center;
	font-size: 1.875rem;
	font-weight:700;
	color:#d5d5d5;
	flex-shrink: 0;
}

.main.about ul.months li a{
	color:rgba(255,255,255,0.7);
}

.main.about ul.months li a:hover{
	color:rgba(255,255,255,1);
}

/*-----------------------------------------------------------------------------------*/
/*  Register section
/*-----------------------------------------------------------------------------------*/
.main.register .wrapper{
	display:flex;
	align-content: center;
	justify-content: space-between;
}

.main.register a{
	width:40%;
	align-self: center;
}

.main.register a:hover{
	background:#595959;
}

.main.register h2{
	font-size:1.5rem;
	color:#ffffff;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	padding-top:1.25rem;
}

.main.register span{
	font-size:15rem;
	color:#ffffff;
}

.main.register span.icon-code{
	position:relative;
	top:-0.5625rem;
}

.main.register p{
	font-size:1.125rem;
	color:#ffffff;
	font-weight: 300;
	text-align: center;
	padding:2.5rem 1.5rem;
}

.main.register .seperator{
	width:2px;
	height:20vh;
	background:#7f7f7f;
	align-self: center;
}

/*-----------------------------------------------------------------------------------*/
/*  Register inside section
/*-----------------------------------------------------------------------------------*/
.main.registerin,
.main.carousel{
	opacity:0;
	animation:fadein 500ms;
	animation-delay:300ms;
	animation-fill-mode:forwards;
}

#main.is-exiting .main.registerin,
#main.is-exiting .main.carousel{
	opacity:1;
	animation:fadeout 500ms;
}

@keyframes fadein {
    from{ 
    	opacity: 0; 
    }
    to{
    	opacity: 1;
    }
}

@keyframes fadeout {
    from{ 
    	opacity: 1; 
    }
    to{
    	opacity: 0;
    }
}

.main.registerin form{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.main.registerin .wrap{
	width:40%;
	margin:0 auto;
}

.main.registerin h2{
	font-size: 3rem;
	font-weight:300;
	padding:1.5rem 0;
}

.main.registerin input,
.main.survey input,
.main.survey textarea{
	width:100%;
	height:3.125rem;
	font-size:1.125rem;
	color:rgba(255,255,255,1);
	background:#313131;
	padding:0 1rem;
	border:0.0625rem solid rgba(255,255,255,0.5);
	margin-bottom:1.5rem;
	align-self:center;
}

.main.registerin select{
	visibility:hidden;
}

.main.registerin input:focus,
.main.survey input:focus{
	border:0.0625rem solid rgba(255,255,255,1);
}

.main.registerin input.error,
.main.registerin select.error,
.main.survey input.error{
	border:0.0625rem solid rgba(190,0,0,1);
}

.main.registerin input[type="submit"],
.main.survey input[type="submit"]{
	width:100%;
	max-width:200px;
	font-size:0.875rem;
	font-weight:bold;
	text-transform: uppercase;
	border-radius:0;
	margin:1.5rem 0;
}

.main.registerin input[type="submit"]:hover,
.main.survey input[type="submit"]:hover{
	color:rgba(255,255,255,1);
	background:rgba(255,255,255,0.3);
}

.main.registerin input[type="submit"]:focus,
.main.survey input[type="submit"]:focus{
	border:0.0625rem solid rgba(255,255,255,0.5);
}

.main.registerin .hidden{
	display:none;
	flex-direction:column;
	justify-content:center;
}

.main.registerin .hidden input{
	display:flex;
	margin:0 auto 1.5rem auto;
}

.main.registerin .check,
.main.registerin .hidden input:last-child{
	transform: translateZ(0);
	margin: 0 auto;
	position: relative;
	left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.main.registerin .check input[type="checkbox"] {
	display: none;
}

.main.registerin .check label{
	font-size: 1.125rem;
	color: rgba(255,255,255,0.5);
}

.main.registerin .check label:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align:middle;
	margin-right:1.25rem;
	border: 0.0625rem solid rgba(255,255,255,0.5);
}

.main.registerin .check input[type=checkbox]:checked + label:before {
	content: "\2714";
	font-size: 25px;
	color: #ffffff;
	text-align: center;
    line-height: 28px;
}

.main.registerin .check input[type="checkbox"]:checked + label{
	color: #fff;
} 

.main.registerin .check input[type="checkbox"]:checked + label::before{
	border: 0.0625rem solid rgba(255,255,255,1);	
}


/*.main.registerin .check label {
	display:flex;
	position: relative;
	font-size: 1.125rem;
	padding: 0 0 0 50px;
	vertical-align: top;
	color: rgba(255,255,255,0.5);
	cursor: pointer;
	transition: color 0.3s;
}

.main.registerin .check input[type="checkbox"],
.main.registerin .check label::before {
	content:"\2714";
	width: 30px;
	height: 30px;
	top: 50%;
	left: 0;
	margin-top:-15px;
	position: absolute;
	cursor: pointer;
}

.main.registerin .check input[type="checkbox"]{	
	opacity: 0;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.main.registerin .check label::before {
	content: '';
	border: 0.0625rem solid rgba(255,255,255,0.5);
	transition: border 0.5s;
}

.main.registerin .check input[type="checkbox"]:checked + label{
	color: #fff;
} 

.main.registerin .check input[type="checkbox"]:checked + label::before{
	border: 0.0625rem solid rgba(255,255,255,1);	
}*/

/*-----------------------------------------------------------------------------------*/
/*  Activity section
/*-----------------------------------------------------------------------------------*/
.main.activity .wrapper{
	display:flex;
	flex-direction: column;
	text-align:left;
}

.main.activity h1{
	font-size:3rem;
	text-transform: none;
	text-align:left;
}

.main.activity h2{
	font-weight: 300;
	padding:3.5rem 0;
}

.main.activity img{
	width:100%;
	max-width:600px;
}

.main.activity img.small{
	max-width:250px;
}

.main.activity img.full{
	max-width:100%;
}

.main.activity ul{
	display:flex;
	flex-direction: row;
	margin-bottom:3.5rem;
	flex-wrap: wrap;
}

.main.activity ul li{
	width:25%;
	font-size:0.875rem;
	color:#898989;
	font-weight:300;
	display:flex;
	flex-direction: column;
}

.main.activity ul li span{
	color:#ffffff;
	font-weight:700;
}

.main.activity ul li a{
	width:100%;
	max-width:200px;
	height:3rem;
	line-height:3rem;
	color:#fff;
	font-size: 0.875rem;
	font-weight:700;
	text-transform: uppercase;
	border:0.0625rem solid rgba(255,255,255,0.5);
	padding:0 0.875rem;
}

.main.activity ul li a:hover{
	background:rgba(255,255,255,0.3);
	border: 0.0625rem solid rgba(255,255,255,1); 
}

.main.activity p{
	width:60%;
	color:#fff;
	font-size:1.5rem;
	font-weight:300;
	margin:0 auto;
	text-align: center;
	padding:4rem 0;
}

/*-----------------------------------------------------------------------------------*/
/*  Contacts section
/*-----------------------------------------------------------------------------------*/
.main.contacts .wrapper{
	display:flex;
	flex-direction: row;
}

.main.contacts .column{
	width:100%;
	display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    border-right:1.1px solid rgba(255,255,255,0.6);
    padding:1rem;
}

.main.contacts .column:last-child{
    border-right:0;	
}

.main.contacts .column img{
	max-width:300px;
}

.main.contacts .column li{
	font-size:1.125rem;
	color:#d5d5d5;
	text-align:left;
}

/*-----------------------------------------------------------------------------------*/
/*  Survey section
/*-----------------------------------------------------------------------------------*/
.main.survey .wrapper{
	width:55%;
	margin:0 auto;
}

.main.survey h2{
	padding-bottom:1rem;
}

.main.survey .option{
	text-align:left;
	padding:0.5rem 0;
}

.main.survey .option:last-of-type{
	padding:0.5rem 0 1rem 0;
}

.main.survey textarea{
	height: 6.25rem;
	padding: 1rem;
	font-family: 'Oxygen', sans-serif;
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;

}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #313131;
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*-----------------------------------------------------------------------------------*/
/*  Random section
/*-----------------------------------------------------------------------------------*/
.overlay,
.opinion{
	display:none;
	background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
}

.opinion h2{
	font-size: 3.125rem;
	font-weight:700;
	text-align: center;
	padding-bottom:2rem;
}

.opinion .wrapper{
	width: 80%;
	height: 100vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.opinion form{
	display:flex;
	flex-direction: column;
}

.opinion a.close{
	position:absolute;
	top:2rem;
	right:2rem;
	max-width:2rem;
	opacity:0.8;
	z-index:99;
}

.opinion a.close:hover{
	opacity:1;
}

.opinion input{
	width: 100%;
    height: 3.75rem;
    font-size: 1.375rem;
    color: rgba(255,255,255,1);
    background: transparent;
    padding: 0 1rem;
    border-bottom: 0.0625rem solid rgba(255,255,255,0.5); 
}

.opinion input.error{
	border-bottom: 0.0625rem solid rgba(190,0,0,1);
}

.opinion input:focus{
	border-bottom: 0.0625rem solid rgba(255,255,255,1); 	
}

.opinion input[type="submit"]{
	width:100%;
	max-width: 260px;
    font-size: 1.2rem;
    font-weight:700;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
    border: 0.0625rem solid rgba(255,255,255,0.5); 
    margin-top:3.75rem;
    align-self: center;
}

.opinion input[type="submit"]:hover{
	color: rgba(255,255,255,1);
	background:rgba(255,255,255,0.3);
	border: 0.0625rem solid rgba(255,255,255,1); 
}

.survey iframe{
	width:100%;
	height:80vh;
}

.popup{
	display:none;
	position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 99999;
    transform: translateX(-50%) translateY(-50%);
    padding:3rem;
    font-size: 2.25rem;
    text-align:center;
}

.popup.error{
	background:#FF4136;
}

.popup.success{
	background:#29b739;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sceneElement {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.is-exiting .sceneElement {
    transition-timing-function: ease-out;
}

#main[data-transition=fade] .sceneElement {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#main[data-transition=fade].is-exiting .sceneElement {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

/*-----------------------------------------------------------------------------------*/
/*  Media Queries
/*-----------------------------------------------------------------------------------*/
@media only screen and (max-width: 40em) {/* max-width 640px */
	header{
		height:auto;
	}

	header nav, header a.home{
    	float: none;
	}

	.main.index{
		background:#313131;
		flex:1;
		display:flex;
		position:relative;
		overflow:visible;
	}

	.main.index video{
		display:none;
	}

	.main.index .overlay{
	    display: block;
	    position: relative;
	    z-index: 4;
	    width: 95%;
	    height: auto;
	    background:none;
	    margin: 0 auto;
	}

	.main.contacts .wrapper,
	.main.friends .wrapper,
	.main.about ul.months li,
	.main.calendar .wrapper,
	.main.donation .wrapper,
	.main.register .wrapper{
		flex-direction: column;
	}

	.main.contacts .column,
	.main.friends .column,
	.main.about ul.months li span,
	#datepicker,
	.main.calendar .information,
	.main.donation .column,
	.main.registerin .wrap,
	.main.register a,
	.main.activity p,
	.main.survey .wrapper{
		width:100%;
	}

	.main.carousel{
		overflow:visible;
	}

	.main.calendar .container{
		height:100%;
	}

	.main.contacts .column,
	.main.friends .column{
		border-right: 0;
	}

	h1,
	.main.registerin h2,
	.main.activity h1{
		font-size: 2rem;
	}

	.main.calendar .information h1{
		font-size:3rem;
	}

	.main.about h2{
		padding-left:2.5%;
	}

	.main.about ul.months li span{
		padding-bottom:1.2rem;
	}

	.main.calendar .information,
	.main.activity h2{
		padding: 2rem 0;
	}

	.main.donation .column{
		padding:1.875rem 0;
	}

	.main.register .seperator{
		display:none;
	}

	.ui-datepicker-month, .ui-datepicker-year{
		font-size:1.8rem;
	}

	.main.calendar .information li.social{
		position:relative;
	}

	.main.activity ul li{
		width:50%;
		margin-bottom:2rem;
	}

	.main.activity ul li a{
		text-align:center;
	}

	.opinion h2 {
    	font-size: 2.5rem;
    }
} 

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.main.calendar .information {
		padding: 0 2rem;
	}
	.ui-datepicker-month, .ui-datepicker-year {
		font-size: 1.6rem;
	}
}


hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.5px;
}
